//- register-block.jade

.panel.panel-primary
  .panel-heading
    h3(class="panel-title")  Log in
  .panel-body
    form(role="form", action="/login", method="post")
      .form-group
        label(for='formUsername') Email
        input(name="email", type='text', class='form-control', id='formUsername', placeholder='Enter Email')
      .form-group
        lable(for='formPassword') Password
        input(name="password", type='password', class='form-control', id='formPassword', placeholder='Enter Password')
      button(type="submit", class="btn btn-primary") Log in
    a(href="/register") Don't have an account?
