extends ./layout.jade
block contents
  .row
    .col-md-4
      include ./profile-block.jade
    .col-md-8
      .page-header
        h1 Lorem Ipsum
      .panel.panel-primary
        .panel-heading
          h3(class="panel-title")  Statistics
        .panel-body
          p Lorem Ipsum
      //
      .panel.panel-primary
        .panel-heading
          h3(class="panel-title")  Recent Submissions
        .panel-body
          p Lorem Ipsum
